---
x-ignition-common: &ignition-common
  image: &ignition-image inductiveautomation/ignition:8.3.3
  depends_on:
    db:
      condition: service_healthy
    bootstrap:
      condition: service_completed_successfully
  networks:
    proxy: {}

x-ignition-environment: &ignition-environment
  ACCEPT_IGNITION_EULA: "Y"
  IGNITION_EDITION: standard
  TZ: ${TZ}

services:
  bootstrap:
    image: *ignition-image
    entrypoint: ["/bin/bash", "/docker-bootstrap.sh"]
    volumes:
      - ./scripts/docker-bootstrap.sh:/docker-bootstrap.sh
      # Ignition data volumes to be seeded
      - ignition-blue-data:/seed/ignition-blue
      - ignition-green-data:/seed/ignition-green

  ignition-blue:
    <<: [*ignition-common]
    container_name: ignition-blue
    hostname: ignition-blue
    volumes:
      - ignition-blue-data:/usr/local/bin/ignition/data
      - ./services/ignition/projects:/usr/local/bin/ignition/data/projects
      - ./services/ignition/config/resources/core:/usr/local/bin/ignition/data/config/resources/core
      - ./services/ignition/config/resources/dev:/usr/local/bin/ignition/data/config/resources/dev
    environment:
      <<: *ignition-environment
    labels:
      - traefik.hostname=ignition-blue
      - traefik.enable=true
    command: >
      -n ignition-blue
      -m 4096
      -h 80
      -s 443
      -a ignition-blue.localtest.me
      --
      gateway.useProxyForwardedHeader=true
      -Dignition.config.mode=${DEPLOYMENT_MODE:-dev}

  ignition-green:
    <<: [*ignition-common]
    container_name: ignition-green
    hostname: ignition-green
    volumes:
      - ignition-green-data:/usr/local/bin/ignition/data
      - ./services/ignition/projects:/usr/local/bin/ignition/data/projects
      - ./services/ignition/config/resources/core:/usr/local/bin/ignition/data/config/resources/core
      - ./services/ignition/config/resources/dev:/usr/local/bin/ignition/data/config/resources/dev
    environment:
      <<: *ignition-environment
    labels:
      - traefik.hostname=ignition-green
      - traefik.enable=true
    command: >
      -n ignition-green
      -m 4096
      -h 80
      -s 443
      -a ignition-green.localtest.me
      --
      gateway.useProxyForwardedHeader=true
      -Dignition.config.mode=${DEPLOYMENT_MODE:-dev}

  db:
    image: postgres:18.1
    hostname: db
    container_name: db
    volumes:
      - ./services/db/init:/docker-entrypoint-initdb.d
    environment:
      TZ: ${TZ}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD", "pg_isready", "-h", "localhost", "-U", "ignition"]
      interval: 10s
      timeout: 20s
      retries: 10
    networks:
      proxy:
        aliases:
          - db

volumes:
  ignition-blue-data:
  ignition-green-data:

networks:
  proxy:
    external: true
